

{% extends "base.html" %}
{% load wagtailcore_tags crispy_forms_tags %}
{% block body_class %}{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}
    
{% block content %}
<div class="bg-gradient-to-b from-primary to-white">
    <div class="max-w-md text-white mx-auto w-4/5">
        {% comment %} <h1>{{ page.title }}aaaaaaaaaaaaaa</h1> {% endcomment %}
          {% comment %}
    mb-3 mb-2 appearance-none leading-normal block border py-2 focus:outline-none border-gray-300 bg-white w-full px-4 text-gray-700 rounded-lg
    For better solution, please check https://www.accordbox.com/blog/render-django-form-with-tailwind-css-style/
  {% endcomment %}
        {{ page.intro|richtext }}
        <form action="{% pageurl page %}" method="POST" >
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="uppercase text-sm font-bold tracking-wide bg-red-600 text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline" >Submit</button>
          </form>

        {% comment %} <form method="post" class="pt-6">
            {% csrf_token %}
            {{ form.as_p }}
            <input
                class="uppercase text-sm font-bold tracking-wide bg-red-600 text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline"
                type="submit" value="Enviar mensaje">
        </form> {% endcomment %}

    </div>
</div>

{% endblock content %}.

{% block footer %}
    <div class="bg-gradient-to-b from-white to-primary">
        {% include "footer.html" %}
    </div>
{% endblock footer %}
